@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 100%
  color: #1a202c;
  background-color: #e2e8f0;
  width: 100%;
  margin: 0;
  padding: 0;
}

h4 {
	margin-top: 10px;
	font-weight: bold;
}

h5 {
	margin-top: 1.2em;
}

p {
	font-size: 1.1em;
}

.nav-text {
	font-size: 1.8em;
}

.container {
	padding-top: 20px;
	margin-bottom: 20px;
}

.btn {
	background-color: #358ebc;
	border-radius: 20px;
	width: 200px;
}