@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 100%
  color: #1a202c;
  background-color: #e2e8f0;
  margin: 0;
  padding: 0; 
}

a:link,
a:visited,
a:active { 
  color: #358ebc;
  text-decoration: none;
} 

a:hover {
  text-decoration: underline;
}

.avatar {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

p.app {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.btn-info {
  margin-bottom: 10px;
  background-color: #fff !important;
  border-color: #358EBC !important;
}

.btn-import {
  color: white !important;
  margin-top: 10px;
  background-color: #358EBC !important;
  border-color: #358EBC !important;
}

.btn-market {
  background-color: #358ebc;
  border-radius: 20px;
}