@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 100%
  color: #1a202c;
  background-color: #e2e8f0;
  width: 100%;
  margin: 0;
  padding: 0;
}

h4 {
	font-size: 1.2em;
	margin-top: 10px;
}

h5 {
	margin-top: 1.2em;
}

.container {
	padding-top: 20px;
	margin-bottom: 20px;
}

.app {
	text-align: center;
	font-size: 1.2em;
}

.br {
	margin-bottom: 0.8em;
}

.imgAbt {
	text-align: center;
}

/* xs */
img {
    width: 100px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    img {
        width: 150px;
    }

    .rounded-circle {
        width: 100px;
    }

    h4 {
    	font-size: 1.3em;
    	margin-top: 10px;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width: 200px;
    }

    .rounded-circle {
        width: 125px;
    }

     h4 {
    	font-size: 1.5em;
    	margin-top: 15px;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 250px;
    }

    .rounded-circle {
        width: 150px;
    }

     h4 {
    	font-size: 1.8em;
    	margin-top: 15px;
    }
}